.all-classes__link:hover:before,
.join__join-btn,
.about-comment__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all-classes__links,
.trainers__block,
.main__classes-and-prices-wrapper,
.main__info-wrapper,
.gallery-partner__wrapper,
.footer-bottom__wrapper,
.trainer-bigtitle__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all-classes__title,
.prices__title,
.trainers__title,
.events__title,
.from-blog__title,
.gallery-partner__gallery-title,
.gallery-partner__partner-title,
.our-trainers__title {
  font-family: "Open Sans Condensed";
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  color: #57CBF4;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  max-width: 1500px;
  margin: 0 auto;
  background: #f3f3f3;
}

input,
button,
textarea {
  font-family: Open Sans, sans-serif;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.button-link {
  padding: 10px 30px;
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff;
  background-color: transparent;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.button-link:hover {
  -webkit-box-shadow: 0 0 10px #fff;
          box-shadow: 0 0 10px #fff;
  color: #fff;
}

.liveroom {
  width: 370px;
  min-height: 250px;
  border-bottom: 4px solid #00BFF0;
}

.liveroom__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
  padding: 20px;
  background-color: #72D0F4;
  color: #fff;
}

.liveroom__title {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.liveroom__title span {
  font-style: italic;
  font-weight: 400;
}

.liveroom__room {
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}

.liveroom__image {
  display: block;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.all-classes {
  max-width: 770px;
}

.all-classes__title {
  color: #57CBF4;
  margin-bottom: 25px;
  text-align: center;
}

.all-classes__block {
  min-height: 250px;
  padding: 16px 32px;
  background-color: #72D0F4;
}

.all-classes__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.all-classes__class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 326px;
  min-height: 34px;
  margin-bottom: 27px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  background-color: #72D0F4;
  color: #fff;
}

.all-classes__class:nth-child(7),
.all-classes__class:nth-child(8) {
  margin-bottom: 0px;
}

.all-classes__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all-classes__text {
  font-size: 14px;
  text-transform: uppercase;
}

.all-classes__links {
  min-width: 120px;
}

.all-classes__link-icon {
  width: 15px;
  height: 15px;
  fill: #fff;
}

.all-classes__link-icon:hover {
  fill: #2B0DDE;
}

.all-classes__clock-icon {
  margin-right: 7px;
}

.all-classes__clock-icon:hover {
  fill: #fff;
}

.all-classes__link {
  position: relative;
}

.all-classes__link:hover:before {
  position: absolute;
  content: "Timetible";
  width: 106px;
  height: 30px;
  top: -40px;
  left: -15px;
  font-family: "Open Sans Condensed";
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  color: #72D0F4;
  background-color: #fff;
}

.all-classes__link:hover:after {
  position: absolute;
  content: '';
  top: -15px;
  left: 0px;
  width: 10px;
  height: 10px;
  border: 8px solid transparent;
  border-top: 10px solid #fff;
}

.all-classes__link-calendar:hover:before {
  content: "Send to";
}

.all-classes__link-like:hover:before {
  content: "Like it";
}

.all-classes__link-arrow:hover:before {
  content: "Share";
}

.prices {
  max-width: 370px;
}

.prices__title {
  text-align: center;
  color: #57CBF4;
  margin-bottom: 25px;
}

.prices__title span {
  font-style: italic;
}

.prices__block {
  min-height: 250px;
  padding: 53px 30px 30px;
  color: #fff;
  background-color: #00BFF0;
  text-align: center;
}

.prices__block-title {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.prices__block-subtitle {
  max-width: 250px;
  font-size: 16px;
  line-height: 24px;
  margin: 0 auto 24px;
}

.trainers {
  width: 370px;
}

.trainers__title {
  margin-bottom: 25px;
  text-align: center;
}

.trainers__block {
  min-height: 250px;
  padding: 30px 30px 25px;
  background-color: #fff;
}

.trainers__block hr {
  width: 1px;
  height: 180px;
  border: none;
  background-color: #a9ddf1;
}

.trainers__trainer {
  width: 128px;
  min-height: 128px;
  text-align: center;
}

.trainers__img {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto 10px;
}

.trainers__name {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #72D0F4;
}

.trainers__spec {
  font-size: 12px;
  font-style: italic;
  text-transform: uppercase;
  color: #72D0F4;
  margin-bottom: 10px;
}

.trainers__info {
  font-size: 12px;
  font-style: italic;
  color: #606060;
  margin-bottom: 12px;
}

.trainers__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.trainers__twitter-link {
  display: block;
  margin-left: auto;
}

.trainers__icon {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.trainers__icon-twitter,
.trainers__icon-facebook {
  fill: #72D0F4;
}

.trainers__icon-like,
.trainers__icon-thumb {
  fill: #b8b8b8;
}

.trainers__icon-like {
  margin-right: 3px;
}

.events {
  max-width: 370px;
}

.events__title {
  text-align: center;
  margin-bottom: 25px;
}

.events__block {
  min-height: 250px;
  padding: 20px 28px;
  background-color: #72D0F4;
}

.events__event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.events__date {
  max-width: 120px;
  margin-right: 20px;
}

.events__date-text {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}

.events__img {
  width: 120px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
}

.events__info {
  text-align: center;
}

.events__time {
  font-size: 12px;
  font-weight: 600;
  color: #fe0000;
}

.events__name {
  font-size: 18px;
  text-transform: uppercase;
  color: #292929;
}

.events__text {
  font-size: 12px;
  margin-bottom: 4px;
}

.events__btn {
  display: inline-block;
  padding: 3px 20px;
  font-size: 10px;
  text-transform: uppercase;
  color: #fe0000;
  border: 1px solid #000;
  border-radius: 3px;
}

.events__divide {
  margin: 7px auto;
  border: none;
  height: 1px;
  width: 280px;
  background-color: #fff;
}

.from-blog {
  width: 370px;
}

.from-blog__title {
  text-align: center;
  margin-bottom: 25px;
}

.from-blog__block {
  min-height: 250px;
  padding: 12px 20px;
  background-color: #d4d6d6;
}

.from-blog__event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 70px;
  margin-bottom: 9px;
}

.from-blog__event:last-child {
  margin-bottom: 0;
}

.from-blog__img {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin-right: 20px;
  background-color: #fff;
}

.from-blog__text {
  font-size: 13px;
  color: #fff;
  margin-bottom: 3px;
}

.from-blog__date {
  font-size: 13px;
  color: #000;
}

.underheader-bg {
  min-height: 300px;
  position: relative;
  background: url(/img/about/about-us_bg.jpg) no-repeat;
  background-size: cover;
  border-bottom: 10px solid #00BFF0;
}

.underheader-bg:before {
  position: absolute;
  content: 'About us';
  bottom: 0;
  left: 170px;
  font-size: 30px;
  font-weight: 300;
  padding: 8px 40px;
  text-transform: uppercase;
  color: #fff;
  background-color: #00BFF0;
}

.underheader-bg--classes {
  background: url(/img/classes/classes-bg.jpg) no-repeat;
  background-size: cover;
  background-position-y: -100px;
}

.underheader-bg--classes:before {
  content: 'classes';
}

.join {
  background-color: #00BFF0;
  margin-bottom: 100px;
}

.join__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 34px 100px 34px 0;
}

.join__join {
  max-width: 560px;
  text-align: center;
  color: #fff;
}

.join__join-title {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.join__join-subtitle {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.join__join-text {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 10px;
}

.join__join-btn {
  margin: 0 auto;
  padding: 12px 100px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #ff0000;
  color: #fff;
}

.join__divide {
  width: 1px;
  height: 180px;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
}

.join__member {
  max-width: 370px;
  text-align: center;
  color: #000;
}

.join__member-title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 5px;
}

.join__member-subtitle {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.join__member-text {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 10px;
}

.join__member-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 130px;
  min-height: 40px;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 3px;
  color: #72D0F4;
  background-color: #fff;
}

.join__member-btn--calendar {
  margin-left: 37px;
  color: #fff;
  background-color: #72D0F4;
}

.upperheader {
  min-height: 800px;
  background: url(../img/index/upperheader_bg.jpg) no-repeat;
  background-size: cover;
  position: relative;
}

.upperheader__text {
  max-width: 455px;
}

.upperheader__info {
  position: absolute;
  top: 145px;
  left: 165px;
  width: 540px;
  min-height: 235px;
  background: #72D0F4;
  padding: 20px 0px 20px 15px;
  border-bottom: 5px solid #00BFF0;
  color: #fff;
}

.upperheader__info-title {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 48px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.upperheader__info-subtitle {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.upperheader__info-text {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 10px;
}

.upperheader__button-link {
  display: block;
  text-align: center;
  max-width: 145px;
  margin: 0 auto;
}

.header__top {
  background-color: #00BFF0;
}

.header__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 40px;
  padding: 0px 10px;
}

.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 150px;
}

.header__phone-icon {
  margin-right: 10px;
  width: 18px;
  height: 18px;
  fill: #fff;
}

.header__number {
  font-size: 14px;
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__number:hover {
  color: #2B0DDE;
}

.header__link-icon {
  width: 18px;
  height: 18px;
  fill: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__link-icon:hover {
  fill: #2B0DDE;
}

.header__bottom {
  background-color: #72D0F4;
}

.header__bottom-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100px;
  padding: 0px 50px 0px 10px;
}

.header__navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__button-link {
  border: 1px solid transparent;
}

.header__button-link:hover {
  border: 1px solid #fff;
}

.header__button-link-classes {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.header__button-link-classes::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 10px;
  background-image: url("data:image/svg+xml,%3Csvg fill='%23fff' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512.002 512.002' style='enable-background:new 0 0 512.002 512.002;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M388.425,241.951L151.609,5.79c-7.759-7.733-20.321-7.72-28.067,0.04c-7.74,7.759-7.72,20.328,0.04,28.067l222.72,222.105 L123.574,478.106c-7.759,7.74-7.779,20.301-0.04,28.061c3.883,3.89,8.97,5.835,14.057,5.835c5.074,0,10.141-1.932,14.017-5.795 l236.817-236.155c3.737-3.718,5.834-8.778,5.834-14.05S392.156,245.676,388.425,241.951z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
  background-size: cover;
}

.header__button-link-classes:hover {
  color: #72D0F4;
  background-color: #fff;
}

.header__button-link-classes:hover:before {
  -webkit-transition-duration: 0.6s;
       -o-transition-duration: 0.6s;
          transition-duration: 0.6s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  background-image: url("data:image/svg+xml,%3Csvg fill='%2372D0F4' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512.002 512.002' style='enable-background:new 0 0 512.002 512.002;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M388.425,241.951L151.609,5.79c-7.759-7.733-20.321-7.72-28.067,0.04c-7.74,7.759-7.72,20.328,0.04,28.067l222.72,222.105 L123.574,478.106c-7.759,7.74-7.779,20.301-0.04,28.061c3.883,3.89,8.97,5.835,14.057,5.835c5.074,0,10.141-1.932,14.017-5.795 l236.817-236.155c3.737-3.718,5.834-8.778,5.834-14.05S392.156,245.676,388.425,241.951z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
}

.header__nav-hover {
  position: relative;
}

.header__nav-hover:hover .header__submenu {
  display: block;
}

.header__submenu {
  display: none;
  position: absolute;
  width: 200px;
  min-height: 110px;
  padding: 5px;
  top: 50px;
  left: 2px;
  border-radius: 5px;
  background-color: #fff;
  z-index: 100;
}

.header__submenu-navbar {
  position: relative;
}

.header__submenu-navbar::after {
  position: absolute;
  content: '';
  top: -20px;
  left: -5px;
  width: 200px;
  height: 20px;
}

.header__submenu-navbar::before {
  position: absolute;
  content: '';
  top: -25px;
  left: 20px;
  border: 10px solid transparent;
  border-bottom: 10px solid #fff;
}

.header__submenu-nav-link {
  display: block;
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: start;
  color: #72D0F4;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header__submenu-nav-link:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background-image: url("data:image/svg+xml,%3Csvg fill='%2372D0F4' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512.002 512.002' style='enable-background:new 0 0 512.002 512.002;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M388.425,241.951L151.609,5.79c-7.759-7.733-20.321-7.72-28.067,0.04c-7.74,7.759-7.72,20.328,0.04,28.067l222.72,222.105 L123.574,478.106c-7.759,7.74-7.779,20.301-0.04,28.061c3.883,3.89,8.97,5.835,14.057,5.835c5.074,0,10.141-1.932,14.017-5.795 l236.817-236.155c3.737-3.718,5.834-8.778,5.834-14.05S392.156,245.676,388.425,241.951z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
  background-size: cover;
}

.header__submenu-nav-link:hover {
  color: #fff;
  background-color: #72D0F4;
}

.header__submenu-nav-link:hover:before {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23fff' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512.002 512.002' style='enable-background:new 0 0 512.002 512.002;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M388.425,241.951L151.609,5.79c-7.759-7.733-20.321-7.72-28.067,0.04c-7.74,7.759-7.72,20.328,0.04,28.067l222.72,222.105 L123.574,478.106c-7.759,7.74-7.779,20.301-0.04,28.061c3.883,3.89,8.97,5.835,14.057,5.835c5.074,0,10.141-1.932,14.017-5.795 l236.817-236.155c3.737-3.718,5.834-8.778,5.834-14.05S392.156,245.676,388.425,241.951z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
}

.logo {
  display: block;
  width: 128px;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 200px;
}

.main {
  background-color: #f3f3f3;
}

.main__title-wrapper {
  min-height: 215px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 90px 0;
}

.main__title-image {
  width: 300px;
}

.main__title-img {
  display: block;
}

.main__title-text {
  text-align: center;
  max-width: 570px;
}

.main__title-title {
  font-size: 38px;
  font-weight: 300;
  color: #505961;
  margin-bottom: 12px;
}

.main__title-subtitle {
  font-size: 16px;
  font-weight: 300;
  color: #8b9297;
  line-height: 24px;
}

.main__liverooms {
  margin-bottom: 77px;
}

.main__liverooms-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__classes-and-prices {
  margin-bottom: 84px;
}

.main__info {
  margin-bottom: 84px;
}

.gallery-partner {
  background-color: #e6e6e6;
}

.gallery-partner__wrapper {
  padding: 37px 0 74px;
}

.gallery-partner__gallery {
  width: 770px;
}

.gallery-partner__gallery-title {
  text-align: center;
  margin-bottom: 25px;
}

.gallery-partner__gallery__carousel {
  min-height: 345px;
}

.gallery-partner__gallery__carousel-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery-partner__partner {
  width: 256px;
  margin-right: 63px;
}

.gallery-partner__partner-title {
  text-align: center;
  margin-bottom: 50px;
}

.gallery-partner__partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 290px;
}

.carousel-img {
  width: 253px;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
}

.partners-img {
  width: 115px;
  height: 95px;
  -o-object-fit: contain;
     object-fit: contain;
}

.comment__wrapper {
  max-width: 790px;
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.comment__icon {
  width: 100px;
  height: 100px;
  margin-right: 40px;
  fill: #72D0F4;
}

.comment__text {
  font-size: 14px;
  color: #00BFF0;
}

.comment__link {
  color: #2B0DDE;
}

.footer-top {
  background-color: #72D0F4;
}

.footer-top__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 45px 25px 57px;
}

.footer__signup {
  width: 340px;
  margin-right: 60px;
}

.footer__signup-title {
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 30px;
}

.footer__signup-subtitle {
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 15px;
}

.footer__input {
  width: 100%;
  padding: 6px 20px;
  font-size: 12px;
  color: #72D0F4;
  opacity: 0.5;
  margin-bottom: 13px;
}

.footer__btn {
  width: 212px;
  padding: 8px 20px;
  border: none;
  font-size: 12px;
  text-align: start;
  text-transform: uppercase;
  color: #fff;
  background-color: #e25050;
}

.footer__logo {
  margin-bottom: 22px;
  margin: 0 auto 15px;
}

.footer__contacts {
  max-width: 360px;
  margin-right: 60px;
}

.footer__contacts-text {
  font-size: 13px;
  line-height: 23px;
  color: #fff;
  margin-bottom: 27px;
}

.footer__phone,
.footer__email {
  font-size: 13px;
  color: #fff;
  margin-bottom: 14px;
}

.footer__phone-link,
.footer__email-link {
  font-size: 20px;
  font-style: italic;
  padding-left: 10px;
  color: #fff;
}

.footer__menu-title,
.footer__community-title {
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 27px;
}

.footer__menu-list,
.footer__community-list {
  padding-left: 5px;
}

.footer__menu-link,
.footer__community-link {
  font-size: 13px;
  color: #fff;
}

.footer__community {
  margin-left: auto;
}

.footer-bottom {
  background-color: #00BFF0;
}

.footer-bottom__wrapper {
  padding: 15px 25px;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  color: #fff;
}

.footer__copyright-icon {
  width: 13px;
  height: 13px;
  fill: #fff;
  margin-right: 5px;
}

.trainer-bigtitle {
  background-color: #00BFF0;
}

.trainer-bigtitle__wrapper {
  padding: 70px 100px;
}

.trainer-bigtitle__img {
  width: 370px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.trainer-bigtitle__info {
  width: 500px;
  text-align: center;
  color: #fff;
}

.trainer-bigtitle__title {
  font-size: 38px;
  font-weight: 300;
  margin-bottom: 12px;
}

.trainer-bigtitle__subtitle {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 12px;
}

.trainer-bigtitle__name {
  font-size: 14px;
  font-weight: 600;
}

.trainer-bigtitle__name span {
  font-style: italic;
  font-weight: 300;
}

.our-trainers__wrapper {
  padding: 120px 0;
}

.our-trainers__title {
  text-align: center;
  margin-bottom: 25px;
}

.our-trainers__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  min-height: 530px;
}

.our-trainers__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 370px;
  min-height: 250px;
  padding: 20px 25px;
  background-color: #00BFF0;
}

.our-trainers__name,
.our-trainers__spec,
.our-trainers__info {
  color: #fff;
}

.our-trainers__divide {
  margin: 0 17px;
  width: 1px;
  height: 180px;
  border: none;
  background-color: #fff;
}

.our-trainers__trainer {
  max-width: 130px;
  text-align: center;
}

.our-trainers__text {
  color: #fff;
  max-width: 152px;
}

.our-trainers__quals,
.our-trainers__speciality {
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.our-trainers__quals-text,
.our-trainers__speciality-text {
  font-size: 11px;
  font-weight: 300;
}

.our-trainers__block--light {
  background-color: #fff;
}

.our-trainers__block--light .our-trainers__name,
.our-trainers__block--light .our-trainers__spec,
.our-trainers__block--light .our-trainers__info,
.our-trainers__block--light .our-trainers__text {
  color: #00BFF0;
}

.our-trainers__block--light .our-trainers__divide {
  background-color: #00BFF0;
}

.about-comment__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  max-width: 1000px;
  padding: 50px 0;
}

.about-comment__icon {
  width: 100px;
  height: 100px;
  padding: 30px;
  border-radius: 50%;
  background-color: #00BFF0;
  margin-bottom: 40px;
}

.about-comment__icon-quote {
  fill: #fff;
}

.about-comment__text {
  font-size: 18px;
  font-style: italic;
  text-align: center;
  color: #787c7f;
  margin-bottom: 40px;
}

.about-comment__name {
  font-size: 16px;
  color: #414141;
}

.about-comment__name span {
  color: #72D0F4;
}

.classes__blocks-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  min-height: 990px;
  padding: 85px 0px;
}

.class-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 570px;
  min-height: 250px;
}

.class-block__img {
  display: block;
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.class-block__info {
  padding: 10px 20px;
  background-color: #72D0F4;
  color: #fff;
}

.class-block__title {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.class-block__subtitle {
  font-size: 11px;
  line-height: 14px;
  margin-bottom: 15px;
}

.class-block__trainer {
  padding: 0 20px;
}

.class-block__trainer-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  float: left;
  margin-right: 5px;
}

.class-block__spec {
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.class-block__name {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.class-block__text {
  font-size: 12px;
  font-style: italic;
  margin-bottom: 20px;
}

.class-block__btn {
  display: inline-block;
  padding: 1px 10px;
  border: 1px solid #fff;
  font-size: 11px;
  text-transform: uppercase;
  color: #ffffff;
}

.class-block__btn--second {
  margin-left: 65px;
}

.class-block--light .class-block__info {
  background-color: #fff;
  color: #00BFF0;
}

.class-block--light .class-block__btn {
  border-color: #00BFF0;
  color: #00BFF0;
}

.classes__classes-list {
  margin-bottom: 100px;
}

.classes__classes-list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.display-block {
  display: block;
}