.button-link
  padding: 10px 30px
  border: 1px solid #fff
  border-radius: 3px
  color: #fff
  background-color: transparent 
  font-size: 12px
  font-weight: 600 
  text-transform: uppercase
  transition: 0.3s
  &:hover 
    box-shadow: 0 0 10px #fff
    color: #fff

.liveroom 
  width: 370px
  min-height: 250px
  border-bottom: 4px solid $dark
  &__top 
    display: flex
    justify-content: space-between  
    align-items: center
    min-height: 50px
    padding: 20px 
    background-color: $light
    color: #fff
  &__title 
    font-size: 18px 
    font-weight: 600
    text-transform: uppercase
    span 
      font-style: italic
      font-weight: 400
  &__room 
    font-size: 11px 
    font-weight: 600
    text-transform: uppercase
  &__image
    display: block
    height: 200px
    object-fit: cover
    object-position: top

.all-classes
  max-width: 770px
  &__title 
    font-family: $font-condested
    text-align: center
    font-size: 30px 
    font-weight: 300
    color: $title-color
    margin-bottom: 25px
  &__block
    min-height: 250px
    padding: 18px 32px
    background-color: $light
  &__list 
    display: flex
    flex-wrap: wrap
    justify-content: space-between
  &__class 
    display: flex
    justify-content: space-between
    align-items: start
    width: 326px
    min-height: 34px
    margin-bottom: 29px
    border-bottom: 1px solid rgba(#fff, 0.6)
    background-color: $light
    color: #fff
    &:nth-child(7), &:nth-child(8)
      margin-bottom: 0px
  &__name 
    display: flex
    align-items: center
  &__text 
    font-size: 14px
    text-transform: uppercase
  &__links 
    min-width: 120px
    @extend %flex-between
  &__link-icon 
    width: 15px
    height: 15px
    fill: #fff
    &:hover 
      fill: $hover-color
  &__clock-icon 
    margin-right: 7px
    &:hover 
      fill: #fff
  &__link
    position: relative
    &:hover 
      &:before
        position: absolute 
        @extend %flex-center
        content: "Timetible"
        width: 106px
        height: 30px
        top: -40px
        left: -15px
        font-family: $font-condested
        font-size: 13px
        font-weight: 300
        text-transform: uppercase
        color: $light
        background-color: #fff
      &:after 
        position: absolute 
        content: ''
        top: -15px
        left: 0px
        width: 10px
        height: 10px
        border: 8px solid transparent 
        border-top: 10px solid #fff
    &-calendar
      &:hover 
        &:before
          content: "Send to"
    &-like
      &:hover 
        &:before
          content: "Like it"
    &-arrow
      &:hover 
        &:before
          content: "Share"





  

