.overlay 
  position: absolute
  width: 100% 
  height: 500px 
  background: transparent
  z-index: 10

.button-link
  padding: 10px 30px
  border: 1px solid #fff
  border-radius: 3px
  color: #fff
  background-color: transparent 
  font-size: 12px
  font-weight: 600 
  text-transform: uppercase
  transition: 0.3s
  &:hover 
    box-shadow: 0 0 10px #fff
    color: #fff

.main
  background-color: #f3f3f3

.liveroom 
  width: 370px
  min-height: 250px
  border-bottom: 4px solid $dark
  &__top 
    display: flex
    justify-content: space-between  
    align-items: center
    min-height: 50px
    padding: 20px 
    background-color: $light
    color: #fff
  &__title 
    font-size: 18px 
    font-weight: 600
    text-transform: uppercase
    span 
      font-style: italic
      font-weight: 400
  &__room 
    font-size: 11px 
    font-weight: 600
    text-transform: uppercase
  &__image
    display: block
    height: 200px
    object-fit: cover
    object-position: top

.all-classes
  max-width: 770px
  &__title 
    @extend %main-title
    color: $title-color
    margin-bottom: 25px
    text-align: center
  &__block
    min-height: 250px
    padding: 16px 32px
    background-color: $light
  &__list 
    display: flex
    flex-wrap: wrap
    justify-content: space-between
  &__class 
    display: flex
    justify-content: space-between
    align-items: start
    width: 326px
    min-height: 34px
    margin-bottom: 27px
    border-bottom: 1px solid rgba(#fff, 0.6)
    background-color: $light
    color: #fff
    &:nth-child(7), &:nth-child(8)
      margin-bottom: 0px
  &__name 
    display: flex
    align-items: center
  &__text 
    font-size: 14px
    text-transform: uppercase
  &__links 
    min-width: 120px
    @extend %flex-between
  &__link-icon 
    width: 15px
    height: 15px
    fill: #fff
    &:hover 
      fill: $hover-color
  &__clock-icon 
    margin-right: 7px
    &:hover 
      fill: #fff
  &__link
    position: relative
    &:hover 
      &:before
        position: absolute 
        @extend %flex-center
        content: "Написать"
        width: 106px
        height: 30px
        top: -40px
        left: -15px
        font-family: $font-condested
        font-size: 15px
        font-weight: 300
        text-transform: uppercase
        color: $light
        background-color: #fff
      &:after 
        position: absolute 
        content: ''
        top: -15px
        left: 0px
        width: 10px
        height: 10px
        border: 8px solid transparent 
        border-top: 10px solid #fff
    &-calendar
      &:hover 
        &:before
          content: "Расписание"
    &-like
      &:hover 
        &:before
          content: "Нравится"
    &-arrow
      &:hover 
        &:before
          content: "Поделиться"

.prices
  max-width: 370px
  &__title 
    text-align: center
    @extend %main-title
    color: $title-color
    margin-bottom: 25px
    span  
      font-weight: 600
  &__block 
    min-height: 250px 
    padding: 30px
    color: #fff   
    background-color: $dark   
    text-align: center
    &-title 
      font-size: 18px 
      text-transform: uppercase
      margin-bottom: 22px 
    &-subtitle 
      max-width: 250px 
      font-size: 16px 
      line-height: 24px
      margin: 0 auto 24px

.trainers 
  width: 370px 
  &__title 
    @extend %main-title
    margin-bottom: 25px 
    text-align: center
  &__block 
    display: flex
    justify-content: space-between
    min-height: 250px 
    padding: 20px 30px 25px
    background-color: #fff
    hr 
      width: 1px
      height: 180px
      border: none
      background-color: #a9ddf1
  &__trainer 
    width: 145px
    min-height: 128px
    text-align: center
  &__img 
    display: block
    width: 80px 
    height: 80px
    border-radius: 50%
    object-fit: cover
    margin: 0 auto 10px 
  &__name 
    font-size: 14px
    font-weight: 600 
    text-transform: uppercase
    color: $light 
  &__spec 
    font-size: 12px 
    font-style: italic
    text-transform: uppercase
    color: $light   
    margin-bottom: 10px 
  &__info 
    font-size: 12px 
    font-style: italic
    color: #606060
    margin-bottom: 12px 
  &__icons 
    display: flex
  &__twitter-link 
    display: block
    margin-left: auto
  &__icon 
    width: 18px 
    height: 18px
    cursor: pointer
    &-twitter, &-facebook 
      fill: $light
    &-like, &-thumb
      fill: #b8b8b8
    &-like 
      margin-right: 3px

.events 
  max-width: 370px 
  &__title 
    @extend %main-title
    text-align: center
    margin-bottom: 25px 
  &__block 
    min-height: 250px
    padding: 8px 30px
    background-color: $light
  &__event 
    display: flex
    justify-content: space-between
  &__date
    max-width: 120px 
    margin-right: 20px
    &-text 
      font-size: 16px 
      font-weight: 600
      text-transform: uppercase
      color: #fff
  &__img 
    width: 120px
    height: 70px
    object-fit: cover
  &__info 
    text-align: center
  &__time 
    font-size: 12px 
    font-weight: 600
    color: #fe0000
  &__name 
    font-size: 18px 
    text-transform: uppercase
    color: #292929
  &__text 
    font-size: 12px 
    line-height: 14px
    margin-bottom: 4px
  &__btn 
    display: inline-block
    padding: 1px 20px 
    font-size: 10px
    text-transform: uppercase
    color: #fe0000
    border: 1px solid #000 
    border-radius: 3px
  &__divide 
    margin: 7px auto
    border: none
    height: 1px
    width: 280px 
    background-color: #fff

.from-blog 
  width: 370px 
  &__title 
    @extend %main-title 
    text-align: center
    margin-bottom: 25px 
  &__block 
    height: 250px 
    padding: 10px 20px 
    background-color: #d4d6d6
  &__event 
    display: flex
    min-height: 70px
    margin-bottom: 10px
    &:last-child
      margin-bottom: 0
  &__info 
    overflow: hidden
  &__img 
    display: block
    width: 70px
    height: 70px
    margin-right: 20px
    background-color: #fff 
  &__text 
    font-size: 13px 
    color: #fff 
  &__date 
    font-size: 13px 
    color: #000

.underheader-bg 
  min-height: 300px
  position: relative
  background: url(/img/about/about-us_bg.jpg) no-repeat
  background-size: cover
  border-bottom: 10px solid $dark 
  &:before 
    position: absolute
    content: 'О нас'
    bottom: -5px
    left: 170px
    font-size: 30px
    font-weight: 300
    padding: 8px 40px
    text-transform: uppercase
    color: #fff
    background-color: $dark
  &--classes
    background: url(/img/classes/classes-bg.jpg) no-repeat
    background-size: cover
    background-position-y: -100px
    &:before 
      content: 'Категории'
  &--timetable 
    background: url(/img/timetable/timetable-bg.jpg)
    background-size: cover
    &:before 
      content: 'Расписание'
  &--pricing 
    background: url(/img/pricing/pricing-bg.jpg)
    background-size: cover
    &:before 
      content: 'Цены'
  &--contact 
    background: none
    &:before 
      content: 'Контакты'
  &--blog 
    background: url(/img/blog/blog-bg.jpg) no-repeat 
    background-size: cover
    &:before 
      content: 'Блог'
  &--pilates 
    background: url(/img/class-single/pilates-bg.jpg)
    background-size: cover
    margin-bottom: 100px
    &:before 
      display: none
  &--pilates-title 
    position: absolute
    bottom: -5px
    left: 170px
    font-size: 30px
    font-weight: 300
    padding: 8px 40px
    text-transform: uppercase
    color: #fff
    background-color: $dark
    span 
      font-size: 15px
  &__icon 
    width: 10px 
    height: 10px
    fill: #fff

.join 
  background-color: $dark
  margin-bottom: 100px
  &__wrapper
    display: flex
    padding: 34px 100px 34px 0
  &__join 
    max-width: 560px
    text-align: center
    color: #fff 
    &-title 
      font-size: 30px
      font-weight: 600
      text-transform: uppercase
      margin-bottom: 5px 
    &-subtitle 
      font-size: 24px
      font-weight: 600
      margin-bottom: 20px
    &-text 
      font-size: 14px 
      line-height: 21px
      margin-bottom: 10px
    &-btn
      @extend %flex-center 
      margin: 0 auto
      padding: 12px 100px
      border: none
      border-radius: 3px
      font-size: 12px 
      text-transform: uppercase
      background-color: #ff0000 
      color: #fff
  &__divide 
    width: 1px 
    height: 180px
    border: none 
    background-color: rgba(#fff, 0.5)
  &__member 
    max-width: 370px
    text-align: center
    color: #000
    &-title 
      font-size: 30px 
      font-weight: 600 
      margin-bottom: 5px 
    &-subtitle 
      font-size: 24px 
      font-weight: 600 
      margin-bottom: 20px 
    &-text 
      font-size: 14px 
      line-height: 21px 
      margin-bottom: 10px 
    &-btn
      display: inline-flex
      align-items: center
      justify-content: center
      width: 130px
      min-height: 40px
      font-size: 12px 
      text-transform: uppercase
      border-radius: 3px
      color: $light
      background-color: #fff
      &--calendar 
        margin-left: 37px
        color: #fff 
        background-color: $light
        



  





  

