.pilates
  &-main 
    padding-top: 100px
    .join 
      margin-bottom: 0
  &__blocks
    margin-bottom: 100px
    @include media($tablet) 
      margin-bottom: 0
    &-wrapper 
      @include media($desktop)
        display: flex
        flex-wrap: wrap
        justify-content: center
  &__prices
    display: inline-block
    @include media($desktop)  
      margin-left: 10px
    @include media($tablet) 
      display: none 

.schedule--pilates 
  position: static
  display: inline-block
  height: 390px
  padding-top: 10px
  margin-bottom: 18px
  @include media($desktop)  
    margin-bottom: 0 
    margin-right: 10px
  @include media($tablet) 
    display: none 

.pilates-content
  max-width: 770px
  min-height: 730px 
  background-color: #fff
  float: left
  margin-right: 10px
  @include media($desktop) 
    margin-bottom: 50px
  &__img 
    display: block
    height: 300px 
    object-fit: cover
    object-position: top
  &__text
    font-size: 14px
    line-height: 22px
    padding: 30px
    margin-bottom: 10px 
  &__info 
    display: flex
    justify-content: space-between
    padding: 30px
    @include media($land-phone) 
      padding: 10px 30px
      .trainers__trainer 
        display: none
    @include media($port-phone) 
      flex-direction: column
      align-items: center
  &__divide 
    width: 1px 
    height: 180px 
    border: none 
    background-color: $light 
    @include media($port-phone) 
      display: none
    &--first 
      @include media($land-phone)  
        display: none
  &__featured
    max-width: 200px 
    width: 100%
    @include media($port-phone)  
      margin-bottom: 20px
  &__featured-title, &__pricing-title
      font-size: 16px
      font-weight: 600
      text-transform: uppercase
      text-align: center
      margin-bottom: 20px
      color: $light
  &__feature 
    display: flex
    align-items: center
    font-size: 14px 
    color: #a6a6a6 
    margin-bottom: 10px
    &-icon 
      width: 14px 
      height: 14px 
      fill: $light
      margin-right: 5px
  &__pricing 
    max-width: 215px 
    width: 100%
  &__price 
    display: flex
    align-items: center
    font-size: 14px 
    color: #a6a6a6 
    margin-bottom: 8px
  &__arrow-icon
    width: 10px 
    height: 10px
    fill: $light
    margin-right: 5px
  &__dollar-icon
    width: 12px 
    height: 12px 
    fill: #fff
  &__price-text 
    margin-left: auto
    display: inline 
    text-align: center
    padding: 1px 5px
    background-color: $light
    color: #fff
    
  





    
