.header
  &__top
    background-color: $dark
    &-inner
      display: flex
      justify-content: space-between 
      align-items: center
      min-height: 40px
      padding: 0px 10px
  &__phone
    display: flex
    align-items: center
    max-width: 150px
    &-icon
      margin-right: 10px 
      width: 18px
      height: 18px
      fill: #fff
  &__number
    font-size: 14px
    color: #fff 
    transition: 0.3s
    &:hover 
      color: $hover-color
    @include media($port-phone) 
      font-size: 10px
  &__link-icon
    width: 18px
    height: 18px
    fill: #fff
    transition: 0.3s
    &:hover 
      fill: $hover-color
  &__bottom
    background-color: $light 
    &-inner 
      display: flex
      align-items: center
      justify-content: space-between
      min-height: 100px
      padding: 0 10px
      @include media($land-phone) 
        min-height: 80px
  &__navbar
    width: 100%
    @include media($land-phone) 
      display: none
      position: relative
    &-list
      display: flex
      flex-wrap: wrap
      align-items: center
      justify-content: flex-end
      z-index: 50
      @include media($land-phone)  
        position: absolute
        flex-direction: column
        padding: 5px
        top: 55px
        right: -50px
        background-color: rgba($light, 0.8) 
        border-radius: 3px
  &__button-link 
    display: block
    border: 1px solid transparent
    @include media($desktop)
      padding: 10px 25px
    @include media($tablet)
      padding: 10px
    &:hover 
      border: 1px solid #fff
    &-classes
      display: flex
      transition: 0.4s
      cursor: pointer
      &::before
       content: ''
       display: inline-block
       width: 12px
       height: 12px
       margin-right: 10px
       background-image: url("data:image/svg+xml,%3Csvg fill='%23fff' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512.002 512.002' style='enable-background:new 0 0 512.002 512.002;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M388.425,241.951L151.609,5.79c-7.759-7.733-20.321-7.72-28.067,0.04c-7.74,7.759-7.72,20.328,0.04,28.067l222.72,222.105 L123.574,478.106c-7.759,7.74-7.779,20.301-0.04,28.061c3.883,3.89,8.97,5.835,14.057,5.835c5.074,0,10.141-1.932,14.017-5.795 l236.817-236.155c3.737-3.718,5.834-8.778,5.834-14.05S392.156,245.676,388.425,241.951z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A")
       background-size: cover
      &:hover
        color: $light
        background-color: #fff
        &:before 
          transition-duration: 0.6s
          transition-property: transform
          transform: rotate(90deg)
          background-image: url("data:image/svg+xml,%3Csvg fill='%2372D0F4' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512.002 512.002' style='enable-background:new 0 0 512.002 512.002;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M388.425,241.951L151.609,5.79c-7.759-7.733-20.321-7.72-28.067,0.04c-7.74,7.759-7.72,20.328,0.04,28.067l222.72,222.105 L123.574,478.106c-7.759,7.74-7.779,20.301-0.04,28.061c3.883,3.89,8.97,5.835,14.057,5.835c5.074,0,10.141-1.932,14.017-5.795 l236.817-236.155c3.737-3.718,5.834-8.778,5.834-14.05S392.156,245.676,388.425,241.951z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A")
  &__nav-hover
    position: relative  
    &:hover .header__submenu
      display: block
  &__submenu
    display: none
    position: absolute
    width: 200px
    min-height: 110px
    padding: 5px
    top: 50px
    left: 2px
    border-radius: 5px
    background-color: #fff
    z-index: 100 
    @include media($land-phone)
      left: auto 
      right: 120px
      top: 0
    &-navbar
      position: relative
      &::after
        position: absolute
        content: ''
        top: -30px
        left: -5px
        width: 200px
        height: 25px
        @include media($land-phone)
          width: 25px 
          height: 130px
          top: -10px
          left: auto
          right: -15px
      &::before
        position: absolute
        content: ''
        top: -25px
        left: 20px
        border: 10px solid transparent
        border-bottom: 10px solid #fff
        @include media($land-phone) 
          top: 5px
          left: auto 
          right: -20px
          border-bottom: 10px solid transparent
          border-left: 10px solid #fff
    &-nav-link
      display: block
      padding: 10px 10px
      border-radius: 5px
      font-size: 13px
      font-weight: 400
      text-transform: uppercase
      text-align: start
      color: $light
      transition: 0.2s
      &:before
       content: ''
       display: inline-block
       width: 10px
       height: 10px
       margin-right: 10px
       background-image: url("data:image/svg+xml,%3Csvg fill='%2372D0F4' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512.002 512.002' style='enable-background:new 0 0 512.002 512.002;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M388.425,241.951L151.609,5.79c-7.759-7.733-20.321-7.72-28.067,0.04c-7.74,7.759-7.72,20.328,0.04,28.067l222.72,222.105 L123.574,478.106c-7.759,7.74-7.779,20.301-0.04,28.061c3.883,3.89,8.97,5.835,14.057,5.835c5.074,0,10.141-1.932,14.017-5.795 l236.817-236.155c3.737-3.718,5.834-8.778,5.834-14.05S392.156,245.676,388.425,241.951z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A")
       background-size: cover
      &:hover
        color: #fff   
        background-color: $light
        &:before 
          background-image: url("data:image/svg+xml,%3Csvg fill='%23fff' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512.002 512.002' style='enable-background:new 0 0 512.002 512.002;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M388.425,241.951L151.609,5.79c-7.759-7.733-20.321-7.72-28.067,0.04c-7.74,7.759-7.72,20.328,0.04,28.067l222.72,222.105 L123.574,478.106c-7.759,7.74-7.779,20.301-0.04,28.061c3.883,3.89,8.97,5.835,14.057,5.835c5.074,0,10.141-1.932,14.017-5.795 l236.817-236.155c3.737-3.718,5.834-8.778,5.834-14.05S392.156,245.676,388.425,241.951z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A")
  
.logo
  display: block
  min-width: 128px

.links
  display: flex
  justify-content: space-between
  min-width: 200px

.header__hamburger  
  display: none 
  flex-direction: column
  justify-content: space-between
  height: 25px 
  cursor: pointer
  @include media($land-phone)
    display: flex
  &-line 
    width: 30px 
    height: 5px
    background-color: #fff
